@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to top, #a9c7f3 0%, #7ec4e0 100%);
  background-size: 200%;
  background-attachment: fixed;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  animation: fondo-move 1s linear infinite;
}
@keyframes fondo-move {
  0%{
    background-position: 0%;
  }
  50%{
    background-position: 100%;
  }
  100%{
    background-position: 0%;
  }
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

a {
  text-decoration: none;
  transition: all 0.3s linear;
  border-radius: 5px;
  cursor: pointer;
  padding: 1%;
  text-align: left;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

